<!DOCTYPE html>
<html>
  <head>
    <title>16 days Forecast Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- Bootstrap grid -->
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center">16 days Forecast Application</h2>
        </div>

        <div class="col-xs-12">
          <% flash.each do |type, message| %>
            <%  style = { error: "alert-danger", success: "alert-success", notice: "alert-info"}[type.to_sym] || type.to_s %>
            <div class="alert <%=style%> fade in">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
